/********************************css del nav *****************************************************************/
#nav-bar{
    background-color: white;
    width: 1364px;
}
#drive{
    font-size: 30px;
    opacity: 0.54;
    position: relative;
    top: -5px;
    left: 5px;
}
#img-google-nav{
    height: 36px;
    width: 112px;
}
.bloque-textos-nav{
    opacity: 0.70;
    font-size: 18px;
    font-weight: 600;
    margin-right: 25px;
    margin-top: 18px;
}
#bloque-textos-nav-d{
    font-size: 18px;
    font-weight: 600;
    background-color: #4386FC;
    color: white;
    height: 100%;
    width: 167px;
    padding-top: 19px;
    padding-left: 18px;
}
a{
    color:black;
    opacity: 0.70; 
}
a:hover{
    color: black;
}
@media only screen and (max-width: 1126px) {
    #nav-links{
        display: none;
    }
}
/*********************bloque del nav donde hacemos que se vea bien cuando se hace pequeno**********************************************/
#blq-google{
    margin-left: 40px;
    padding: 13px 0px 0px 0px;
    margin-right: 270px;
}
@media only screen and (max-width: 1337px) {
    #blq-google{
        margin-right: 290px;
    }
}
@media only screen and (max-width: 1337px) {
    #blq-google{
        margin-right: 249px;
    }
}
@media only screen and (max-width: 1297px) {
    #blq-google{
        margin-right: 177px;
    }
}
@media only screen and (max-width: 1225px) {
    #blq-google{
        margin-right: 120px;
    }
}
@media only screen and (max-width: 1168px) {
    #blq-google{
        margin-right: 60px;
    }
}
/********fin de este segmento*****************************/
#btn-nav{
    height: 74px;
    width: 74px;
    background-color: transparent;
    border: none;
    display: none;
}
@media only screen and (max-width: 1126px) {
    #btn-nav{
        display: block;
    }
}
@media only screen and (min-width: 680px) {
    #btn-nav{
        margin-left: 50%;
    }
}
/**************barra en pagina pequena***************************/
#nav-min{
    background-color: white;
    text-align: center;
    padding-bottom: 30px;
    display: none;
}
#cls-nav{
    height: 74px;
    width: 74px;
    background-color: transparent;
    border: none;
    display: none;

}
@media only screen and (min-width: 680px) {
    #cls-nav{
        margin-left: 50%;
    }
}
/************************section 1***************************************/
#sct-1{
    background-image:url(../img/index/intro-1600.jpg);
    padding: 100px;
    text-align: center; 
}
#txt-blq-1{
    font-size: 60px;
    font-weight: 300;
    color: white;
}
#btn-sct-1{
    background-color: #4386FC;
    border: none;
    color: white;
    height: 60px;
    width: 194px;
    font-size: 16px;
    font-weight: 600;
}